[submodule "ImGuiFileDialog"]
	path = ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog
[submodule "deps/wgrd-tools"]
	path = deps/wgrd-tools
	url = https://github.com/ev1313/wgrd-tools
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui
[submodule "deps/magic_enum"]
	path = deps/magic_enum
	url = https://github.com/Neargye/magic_enum
[submodule "deps/toml11"]
	path = deps/toml11
	url = https://github.com/ToruNiina/toml11
